main[role="main"] {
  padding: 40px 0
}
body.contact main[role="main"] {
  padding: 40px 0 0;
}
body.home main[role="main"] {
    padding: 0
}

@media (max-width: 1024px){
  .home-slider {
    background-attachment: scroll;
  }
}

@mixin imgbase($position: absolute, $height: 100%, $width: 100%, $top: 50%, $left: 50%, $transform: translate(-50%, -50%), $max-width: inherit!important, $object-fit: cover) {
  position: $position;
  height: $height;
  width: $width;
  top: $top;
  left: $left;
  transform: $transform;
  -webkit-transform: $transform;
  -ms-transform: $transform;
  max-width: $max-width;
  object-fit: $object-fit;
}

/* booking section */
.booking-section {
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  .booking-box {
    max-width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    @media(max-width: 767px) {
      position: static;
    }
  }
}

.heading-box {
  overflow: hidden;
  text-align: center;
  h2 {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    margin: 0 0 30px;
    font-size: 22px;
    &:before, &:after {
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 100%;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
  @media(max-width: 767px) {
    margin: 0 15px;
  }
}

/* slider */
@media (min-width: 1025px){
  .home-slider {
    height: 100vh;
  }
}

@media only screen and (max-width: 1024px) {
  .home-slider {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75vh;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
  }
}

/* header */
.header-image-page {
  height: 45vh;
  background-size: cover;
  background-position: center;
  position: relative;
  &.plain {
    height: 60px;
    #mainNav {
      top: 0;
    }
  }
  .logo-box {
    padding: 0;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    >  a {
      line-height: 120px;
      display: inline-block;
      img {
        padding-top: 0;
        margin-top: 0;
        line-height: 120px;
        display: inline-block;
        vertical-align: middle;
        width: 90px;
        padding-bottom: 0;
      }
    }
    @media(max-width: 767px){
      top: 50%;
    }
  }
}

h1.title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 20px 0;
}

/* homepage testimonial */
.home-testimonial {
  .title-slide {
    h2 {
      margin: 20px 0;
      font-size: 16px;
    }
  }
}
.home-award-title {
  h3 {
    display: none;
  }
}
.owl-dots {
  text-align: center;
  .owl-dot {
    display: inline-block;
    zoom: 1;
    span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity .2s ease;
      border-radius: 30px
    }
    &.active, &:hover {
      span {
        background: #869791
      }
    }
  }
}


/* gallery page */
body.gallery,
body.photos {
  .box-gallery {
    border: 0!important;
  }
  .gallery-view {
    .slider-item {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
    .item {
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(227,161,28,0.5);
        padding: 20px;
        color: #fff;
        @media(max-width: 767px){
          padding: 10px;
          font-size: 14px;
        }
      }
    }
    .slick-prev {
      left: 20px;
      z-index: 1;
    }
    .slick-next {
      right: 20px;
    }
    .slick-prev:before, .slick-next:before {
      //color: blue;
    }
  }
  .gallery-nav {
    display: none;
  }
}


.rooms-post {
  margin-bottom: 30px;
  .thumb {
    a {
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      display: block;
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-size: cover;
      }
    }
  }
}

.home-gallery {
  margin-bottom: 30px;
  .thumb {
    .thumbnails {
      position: relative;
      height: 0;
      padding-bottom: 63.25%;
      display: block;
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-size: cover;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

/* contact icon */
.contact-info {
  .info-text {
    margin-bottom: 20px;
    .info-icon {
      display: inline-block;
      vertical-align: top;
      width: 15%;
      float: none;
      text-align: center;
      @media(max-width: 767px){
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      .icon-round {
        width: 37px;
        height: 37px;
        line-height: 37px;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        color: #fff;
        i {
          font-size: 14px;
        }
      }
    }
    .info-content {
      display: inline-block;
      vertical-align: middle;
      width: 83%;
      box-sizing: border-box;
      padding-left: 10px;
      ul {
        padding-left: 0;
      }
      @media(max-width: 767px){
        width: 100%;
        text-align: center;
      }
    }
  }
  @media(max-width: 767px){
    margin-bottom: 40px;
  }
}

.wpcf7-form {
  p {
    margin-bottom: 10px;
  }
  label {
    font-weight: normal;
    width: 100%;
    input, textarea {
      width: 100%;
      border-radius: 4px;
      border: 1px solid #eaeaea;
      padding: 5px;

      &:focus {
        border: 1px solid #cec8c8;
      }
    }

    input {
      height: 40px;
    }
  }
  input[type="submit"] {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 15px;
  }

  @media(max-width: 767px){
    margin-bottom: 40px!important;
  }
}

/* room detail arrow */
.room-details {
  .carousel-control span {
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
  }
}

/* slider in homepage */
.hotel-info-home,
.box-home-carousel {
  .owl-nav {
    display: none;
  }
}

/* gallery in default template */
@media(max-width: 767px) {
  #gallery-1 .gallery-item {
    float: none!important;
    width: auto!important;
  }

  .navbar .navbar-collapse.collapse.in {
    z-index: 100;
    position: relative;
  }
}

/* news page */
.inner-news {
  .title-room-list {
    text-align: left;
    margin: 0 0 10px;
  }
  .news-meta {
    display: block;
    margin-bottom: 10px;
  }
  .box-container {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    .thumb {
      a {
        padding-bottom: 67.25%;
        height: 0;
        display: block;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          overflow: hidden;
          height: auto;
        }
      }
    }
    &:hover {
      // background-color: #044300;
      // color: #fff;
    }
  }
}

@media(min-width: 768px) and (max-width: 1024px) {
  .nav>li>a {
    padding: 5px;
  }
  .home-slider {
    height: 100vh;
  }
}

.rwmb-map-canvas {
  margin-top: 40px;
}

.color {
  color: #fff;
}

.coloring {
  color: #fff;
}
