.sectionctr {
  margin-bottom: 40px;
  overflow: hidden;
  text-align: center;

  h2,
  h3 {
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 26px;
    letter-spacing: 0.5px;
  }

  &.content__room-two {
    position: relative;

    .tittle-section {
      text-align: center;
    }

    .outer-content {
      margin-top: 30px;

      .inner-content {
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;

        &:hover {
          .overlay {
            opacity: 1;
          }

          .content-desc {
            background-color: rgba(255,255,255,.3);
            z-index: 3;
          }
        }

        .overlay {
          position: absolute;
          background: transparent;
          z-index: 1;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          opacity: 0;
          -webkit-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;

          .rectangel {
            border-left: 0 solid transparent;
            border-right: 60px solid transparent;
            border-bottom: 0 solid #c1181f;
            border-top: 60px solid #000;
            height: 0;
            position: relative;
            width: 0;
            top: 0;

            .rectangel--ico {
              color: #fff;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }

            P {
              color: #fff;
              font-size: 14px;
              position: absolute;
              margin-left: auto;
              left: 10px;
              right: 17px;
              top: -47px;
            }
          }
        }

        .content-img {
          position: relative;
          height: 0;
          padding-bottom: 100%;
          overflow: hidden;

          img {
            position: absolute;
            width: 100%;
            max-width: none;
            height: 100%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            object-fit: cover;
          }
        }

        .content-desc {
          height: 60px;
          width: 100%;
          bottom: 0;
          position: absolute;
          background-color: #fff;
        }

        .content-desctittle {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);

          h5 {
            letter-spacing: 1px;
            font-size: 16px;
            color:  #000;
          }

          h4 {
            color: #000;
            font-size: 20px;
            position: relative;

            &:before,
            &:after {
              background: #000;
              content: "";
              display: block;
              height: 1px;
              position: absolute;
              top: 50%;
              width: 10%;
            }

            &:before {
              right: 100%;
              margin-right: 10px;
            }
            &:after {
              left: 100%;
              margin-left: 10px;
            }
          }

          // &:before {
          //   background: #000;
          //   content: "";
          //   display: block;
          //   height: 2px;
          //   position: absolute;
          //   top: 30%;
          //   width: 10%;
          //   right: 100%;
          //   margin-right: 10px;
          // }
          //
          // &:after {
          //   background: #000;
          //   content: "";
          //   display: block;
          //   height: 2px;
          //   position: absolute;
          //   top: 30%;
          //   width: 10%;
          //   left: 100%;
          //   margin-left: 10px;
          // }
        }
      }
    }

    h2 {
      color:  #000;
      margin-bottom: 0;
    }

    a {
      color: #000;
    }
  }
}
