
/* 1. Commons Section */
.hdunibox {
  position: relative;

  h4 {
    margin: 0;
  }

  .hdoverlay {
    opacity: 0;
    transition: all ease .3s;
    position: absolute;
    top: 0;
  }

  &:hover {
    .hdoverlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.3);
      display: block;
      content: "";
      z-index: 1;
      transition: opacity ease .3s;
      opacity: 1;
    }
  }
}
.hdunipic {
  span {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    display: block;
    img {
      @include imgbase;
    }
  }
}

/* 2. Facilities */
.hdunibox__wb {
  .hduniname {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
  }

  &:hover {
    .hduniname {
      padding: 20px 30px;
      border: 1px solid #fff;
      border-radius: 2px;
    }
  }
}

.hdunibox__wo {
  .hdunipic {
    span {
      padding-bottom: 130%;
    }
  }

  .hduniname {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

/* 3. News */
.hdunibox__wn {
  .hdunipic {
    span {
      padding-bottom: 70%;
    }
  }

  .hduniname {
    text-align: center;
    margin-top: 20px;

    .metaname {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.hdunibox__wx {
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    top: 0;
  }

  .hduniname {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    color: #fff;
    margin-right: 20px;

    .metaname {
      margin-bottom: 5px;
      display: block;
      font-size: 12px;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      top: -15px;
      width: 0px;
      height: 2px;
      background: #c69c5b;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &:before {
        width: 50px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
