/*
 Theme Name:   Indohotels Gold Child
 Theme URI:    https://indohotels.com/indohotels-dark-child/
 Description : Indohotels Gold Child Theme
 Author:       Amri K
 Author URI:   http://amrikarisma.com
 Template:     indohotelswp
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, one-columns, responsive-layout, accessibility-ready
 Text Domain:   indohotels-gold-child
*/
/*------------------------------------*\
    MAIN
    \*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

ul {
  padding-start: 0;
  -webkit-padding-start: 0;
}
/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  max-width: 100%;
  max-height: 100%;
}

body {
  //font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #636363;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  //font-family: 'Oswald', sans-serif;
}
/* clear */
.clear:after,
.clear:before {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff900c;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

li,
ol {
  list-style: none;
}
/*------------------------------------*\
    STRUCTURE
    \*------------------------------------*/
/* wrapper */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

// .container {
//   max-width: 960px;
// }
/* header */
.header-home {
  width: 100%;
  // text-align: center;
  // color: #CACACA;
}

.home-slider {
  height: 80vh;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header-image-page {
  background: url('asset/images/header1.jpg') no-repeat;
  height: 80vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  text-align: center;
  color: #CACACA;
}

.header-all {
  background-color: #d6903d;
  width: 100%;
  text-align: center;
  color: #CACACA;
}

header .search-hotels {
  padding-top: 280px;
  padding-bottom: 200px;
}

#welcome-hotel {
  width: 100%;
  text-align: center;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#welcome-hotel h2 {
  color: #d6903d;
  font-size: 24px;
  font-weight: 600;
}

.wrap-logo {
  height: 100px;
  overflow: hidden;
}

.logo {
  text-align: center;
  background-image: url("asset/images/bg-logo.png");
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;
  height: 219px;
  padding: 10px;
}

header .logo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 220px;
  height: 220px;
  z-index: 1;
  transform: translate(-50%, -50%);
  @media(max-width: 767px){
    top: 32%;
  }
}
body.home {
  header {
    .logo-box {
      vertical-align: middle;
      line-height: 220px;
      text-align: center;
    }
  }
}

/* PNG */
.logo-img {
  margin: 0 auto;
  max-height: 130px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}
/* nav */
.navbar {
  margin-bottom: 0;
}

.navbar-fixed-top {
  background-color: rgba(167, 103, 27, 0.9);
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.navbar-custom ul li {
  padding: 5px;
}

// .navbar-custom ul li .active,
// .navbar-custom ul li:hover {
//   border-bottom: 1px solid #fff;
// }

.nav ul li a::after,
.nav ul li a::before,
.nav ul li a:active,
.nav ul li a:hover,
.navbar-custom ul li a:hover {
  background: none;
  text-decoration: none;
}

.nav-bottom ul li {
  display: inline;
  padding: 5px 20px;
}

.nav ul li a,
.navbar-nav > li > a {
  color: white;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none!important;
  vertical-align: top;
}

ul.nav.navbar-nav:before {
  margin-left: 0;
}

li.btn.btn-rooms {
  margin: 15px;
  background-color: #fff;
  border: 1px solid #d6903d;
  border-radius: 0;
  display: inline-block;
}

li.btn.btn-rooms a {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

li.btn.btn-rooms:active,
li.btn.btn-rooms:hover {
  background-color: #ebebeb;
}

.navbar .navbar-collapse {
  text-align: center;
}

ul.nav.navbar-nav.sub-nav {
  margin-left: 12px;
}

.nav ul.dropdown-menu {
  background: rgba(214, 144, 61, 0.68);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: rgba(214, 144, 61, 0.44);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: transparent;
  color: #fff;
}

#box-feature {
  width: 100%;
  color: #fff;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  //height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .box-relative {
    position: relative;
    height: 72vh;
  }

  .box-bg {
    /* background-color: rgba(26, 91, 0, 0.55); */
    // padding: 10px;
    // position: absolute;
    // width: 50%;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    img {
      width: 100%;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      &:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }
    }
    p {
      font-size: 19px;
      text-align: center;
    }
  }
  h2 {
    //color: #fff;
    // font-size: 44px;
    //font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
  }

  .box-room {
    position: relative;
    margin-bottom: 30px;
    .box-thumb {
      overflow: hidden;
      a {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        display: block;
        overflow: hidden;
        img {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-size: cover;
          height: 100%;
          object-fit: cover;
        }
        &:after {
          opacity: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.5);
          position: absolute;
          top: 0;
          content: '';
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
        }
      }
      &:hover {
        a {
          &:after {
            opacity: 1;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5);
            position: absolute;
            top: 0;
            content: '';
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
          h4 {
            z-index: 1;
            color: #fff;
          }
          img {
            // -moz-transform: scale(1.1);
            // -webkit-transform: scale(1.1);
            // transform: scale(1.1);
            // -webkit-transition: all 0.3s ease-in;
            // -moz-transition: all 0.3s ease-in;
            // -o-transition: all 0.3s ease-in;
            // transition: all 0.3s ease-in;
          }
        }
      }
    }
    h4 {
      text-align: center;
      font-weight: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      color: #fff;
    }
  }
}

/* ==== sidebar ==== */
/* ==== Home ==== */
.home-carousel {
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.home-carousel.owl-carousel .owl-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  left: -50px;
}

.home-carousel.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  right: -50px;
}

.home-gallery .title-gallery-home,
.home-text-slide .title-gallery-home {
  text-align: center;
}

.home-gallery .title-gallery-home {
  margin: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #fff;
}

.home-gallery .box-gallery-home {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 80%;
  transform: translate(-50%,-50%);
}

.home-gallery .title-gallery-home h2,
.home-text-slide .title-gallery-home h2 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.home-gallery .title-gallery-home span.line-color {
  display: inline-block;
  width: 40%;
  background: #d6903d;
  height: 1px;
}

.home-gallery .gallery-phone,
.home-gallery .gallery-time {
  font-weight: 600;
  color: #fff;
  padding-top: 5px;
}

.owl-next .glyphicon.glyphicon-chevron-right,
.owl-prev .glyphicon.glyphicon-chevron-left {
  color: #d6903d;
  font-size: 20px;
}

.title-slide h2 {
  font-style: italic;
  color: #d6903d;
}

.content-slide,
.title-slide {
  text-align: center;
}
/* ============= */
/* == Footer === */
/* ============= */
// footer {
//   background-image: -moz-linear-gradient( 35deg, #a8681b 0%, #d17b13 50%, #a8681b 100%);
//   background-image: -webkit-linear-gradient( 35deg, #a8681b 0%, #d17b13 50%, #a8681b 100%);
//   background-image: -ms-linear-gradient( 35deg, #a8681b 0%, #d17b13 50%, #a8681b 100%);
// }

nav .navbar-custom {
  margin-top: 15px;
  padding: 8px;
  color: white;
  background: #54340d;
  margin-left: -15px;
  margin-right: -15px;
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
  color: #d6903d;
  background: white;
  border: solid 2px white;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid #d6903d;
  background-color: #d6903d;
  color: #ffffff;
  font-size: 20px;
  box-shadow: none;
  text-shadow: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.button-check button.btn.btn-check {
  margin-top: 20px;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
}

.btn-check,
.btn-check:active {
  background-color: #d6903d;
  color: #fff;
  padding-left: 2.9em;
  padding-right: 2.9em;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.btn-check:hover {
  background-color: #a12c1f;
  color: #fff;
}

section.box-booking {
  margin-top: 20px;
  margin-bottom: 20px;
}

.booking {
  margin-top: 15px;
}

.booking input[type=submit] {
  margin-top: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.booking label {
  font-style: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.booking .form-control,
.booking .input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 5px;
}

.booking .form-control,
.booking .form-control[readonly],
.booking .input-group-addon {
  background: #fff;
  height: 40px;
  border: 1px solid #d6903d;
  border-radius: 5px;
}

.booking .glyphicon {
  color: #d6903d;
}

.booking .booking-title {
  font-weight: 600;
  color: #d6903d;
}
/*------------------------------------*\
    PAGES
    \*------------------------------------*/
h1.title {
  font-size: 2.4rem;
  color: #d6903d;
  font-weight: 600;
}

article p {
  margin-bottom: 20px;
}
/* ----------------*/
/* ------ Rooms ---*/
/* ----------------*/
.rooms-post {
  box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.2);
  h2 {
    a {
      font-size: 24px;
      padding-top: 5px;
    }
  }
}

h2.title {
  text-align: left;
  margin-bottom: 0;
  margin-top: 30px;
}

.room-info-list {
  padding: 20px;
  .title-room-list {
    text-align: center;
    margin: 0 0 20px;
    padding-bottom: 10px;
    font-size: 20px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: calc(50% - 35px);
      left: calc(50% - 35px);
      height: 1px;
      width: 75px;
      background: #ebebeb;
    }
  }
}

.room-info {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.room-breakfast {
  font-size: 18px;
  padding: 5px;
  color: #fff;
  background-color: #bababa;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.room-price {
  color: #d6903d;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.book-room {
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: normal;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: transparent;
  &:hover {
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    a {
      color: #fff;
      transition: all 0.1s ease-in-out;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      text-decoration: none;
    }
  }
}

.room-tax {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 30px;
}

.room-detail a {
  color: #d6903d;
}

.rooom-no {
  margin-bottom: 30px;
}
/*-------------------------------*/
/* --- PAGE AVAILABLE ROOMS ----- */
/*-------------------------------*/
.room-booking {
  box-shadow: 1px 1px 1px 1px #ebebeb;
  background-color: rgba(238, 238, 238, 0.44);
  padding: 15px;
  margin: 15px;
  @media(max-width: 767px){
    padding: 0;
  }
}

.room-booking .col-booking,
.room-booking .col-value {
  padding: 10px;
}

.room-booking.col-booking.table > tbody > tr > td {
  border: none;
  color: #d6903d;
}

.room-booking img {
  width: 100%;
}

.room-details .form-control {
  margin-bottom: 10px;
}
/* ---------------------*/
/* Page Room Details */
/* -------------------- */
.room-title-box {
  background: rgba(17, 17, 17, 0.5);
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

.room-title-box {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  max-width: 50%;
  margin: 0 auto;
}

.room-title-box h2 {
  font-size: 24px;
  margin-top: 5px;
  @media(max-width: 767px){
    font-size: 13px;
    margin: 0;
    padding: 0;
  }
}

.room-balcony {
  font-style: italic;
}

.room-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.room-details-spec {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
  z-index: 100;
  font-weight: 600;
  vertical-align: middle;
}

span.room-value,
span.room-title {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}

h3.room-details-f-title {
  background-color: #ebebeb;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #d6903d;
}

.feature-box.col-md-12.col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

ul.room-features li {
  list-style-type: square;
}
/* -------------------------- */
/* ----- Gallery Slider ------*/
/* ------------------------- */
div#main_area {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// .box-gallery {
//   margin: 10px auto;
// }

// .box-gallery .gallery-view.slick-initialized.slick-slider img {
//   width: 100%;
//   max-height: 500px;
// }

// .box-gallery .gallery-nav.slick-initialized.slick-slider img {
//   width: 100%;
//   max-height: 80px;
// }
/* Contact Us */
.contact-box {
  /* border: 1px solid #d6903d; */
  /*margin: 15px;*/
  margin-top: 10px;
  background: #ebebeb;
  margin-bottom: 20px;
}

.contact-headline {
  background: #d6903d;
  padding: 1px 10px;
  color: #fff;
  margin: 0 -15px;
}

.contact-headline h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-address {
  padding: 10px 0;
}

.contact-info tr td:first-child,
.contact-info tr td:nth-child(2) {
  padding-right: 10px;
}

.contact-info ul {
  margin-left: 0;
  padding-left: 7px;
  vertical-align: top;
  margin-bottom: 0;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info table tbody tr {
  height: 2em;
}
/*------------------------------------*\
    IMAGES
    \*------------------------------------*/
.thumb {
  max-height: 500px;
  overflow: hidden;
}

.thumbnail {
  border: none;
  border-radius: 0;
}

.thumbnail > img,
.thumbnail a > img {
  width: 100%;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.thumbnail > img:hover,
.thumbnail a > img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
/*------------------------------------*\
    TYPOGRAPHY
    \*------------------------------------*/
@font-face {
  font-family: 'Font-Name';
  src: url('fonts/font-name.eot');
  src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'), url('fonts/font-name.woff') format('woff'), url('fonts/font-name.ttf') format('truetype'), url('fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------*\
    RESPONSIVE
    \*------------------------------------*/
@media only screen and (max-width:1280px) {}
@media only screen and (max-width:1140px) {}
@media only screen and (max-width:1024px) {}
@media only screen and (max-width:768px) {
  .home-gallery .box-gallery-home {
    // background: rgba(0, 0, 0, 0.5);
    // position: absolute;
    // margin: auto;
    // top: 0;
    // right: 15vh;
    // left: 15vh;
    // bottom: 0;
    /* width: 40%; */
  }

  .home-gallery .title-gallery-home {
    padding: 25px 15px;
    left: 25px;
    right: 25px;
    border: 0;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }

  .room-details-spec {
    position: initial;
  }

  .room-details-spec span.col-md-3 {
    display: inline-grid;
    color: #636363;
  }
}
@media only screen and (max-width:480px) {
  .home-gallery .box-gallery-home {
    // background: rgba(0, 0, 0, 0.5);
    // position: absolute;
    // margin: auto;
    // top: 0;
    // right: 0;
    // left: 0;
    // bottom: 0;
    // width: auto;
  }

  .home-gallery .title-gallery-home {
    padding-bottom: 25px;
    border: 2px solid#fff;
    position: absolute;
    right: 10px;
    left: 10px;
    top: 10%;
    bottom: 10%;
    margin: 0 auto;
  }
  /* Rooms */
  .box-container {
    padding: 0;
    margin-left: -25px;
    margin-right: -25px;
  }

}
@media only screen and (max-width:320px) {
  .home-gallery .title-gallery-home h2,
  .home-text-slide .title-gallery-home h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* -------------- */
/* --- CALERAN -- */
/* -------------- */
/* Caleran */
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end,
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start {
  min-width: 0;
  margin: 0;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick,
.caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick {
  width: calc(100% / 7);
  float: left;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 1px;
  background: #f28e20;
  cursor: not-allowed !important;
  color: #fff;
  min-height: 30px;
  border-radius: 2px;
  position: relative;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span,
.caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
  right: 4px;
}

.caleran-apply,
.caleran-apply-d {
  background: #f28e20 !important;
  border: 1px solid #f28e20 !important;
  color: #fff;
  margin-left: 7px;
}

.caleran-container-mobile .caleran-input .caleran-footer button.caleran-cancel {
  background: #fff;
  border: 1px solid #f28e20 !important;
  color: #f28e20 !important;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span {
  background: #f28e20 !important;
  color: #fff;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
  text-align: left;
  max-width: 40vmin;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day {
  float: left;
  margin-right: 10px;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend {
  color: #be142f;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-weekday {
  margin-top: 0;
}
/* end caleran */
/* ------------------ */
/* --- End Caleran -- */
/* ------------------ */
/*------------------------------------*\
    MISC
    \*------------------------------------*/
::selection {
  background: #d6903d;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #d6903d;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #d6903d;
  color: #FFF;
  text-shadow: none;
}
/* Animated CSS */
.krs-hidden {
  opacity: 0;
}

.krs-visible {
  opacity: 1;
}
/*------------------------------------*\
    WORDPRESS CORE
    \*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.gallery-caption,
.wp-caption .wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/*------------------------------------*\
    PRINT
    \*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* footer */
.footer-distributed {
  nav {
    margin: 10px 0;
  }
}
.footer-info {
  padding: 40px 0;
  text-align: center;
  color: #fff;
  .footer-logo {
    margin-bottom: 40px;
    img {
      max-height: 80px;
    }
  }
}
.footer-credits {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  padding: 10px;
  font-size: 12px;
}
.footer-links {
  margin: 10px 0 0;
}
